fastapi
uvicorn[standard]
python-multipart
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
faster-whisper==1.0.2
psycopg2-binary==2.9.9
torch>=2.1.0
torchaudio>=2.1.0
python-docx
openpyxl
transformers
googletrans==4.0.0rc1
sentencepiece
protobuf
openai
language-tool-python
